@import "styles/shared.scss";
@import "components/info/info.shared.scss";

.health {
  @extend .boxBackground;
  left: 11px;
  bottom: 11px;

  & > span {
    font-size: large;
    margin-left: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center top;
    background-size: cover;
    background-image: url("../../../assets/plane-small.png");
    &.alive {
      background-position: center 0%;
    }

    &.dead {
      background-position: center 100%;
    }
  }
}
