@import "styles/shared.scss";
@import "components/info/info.shared.scss";

.clock {
  @extend .boxBackground;
  right: 11px;
  bottom: 11px;

  & > span {
    @extend .infoSpan;
  }

  &::after {
    @extend .infoSpan-postfix;
    content: "sec";
  }
}
