$body-background: linear-gradient(
  180deg,
  rgb(28, 142, 248) 0%,
  rgba(0, 0, 0, 0.9) 50%,
  rgb(28, 142, 248) 100%
);

$fireball-background: radial-gradient(circle, yellow, black);
$transparent-black-03: rgba(0, 0, 0, 0.3);
$info-digit-color: greenyellow;
$yellow: yellow;
$white: white;
